<!-- <app-propertiesinfo (demos)='demos()' [LOAN_KEY]="LOAN_KEY" [CURRENT_STAGE_ID]="CURRENT_STAGE_ID"
    style="height: 100%;width: 100%;" TYPE="C" [APPLICANT_ID]="APPLICANT_ID" [data]="data" [PROPOSAL_ID]="PROPOSAL_ID">
</app-propertiesinfo> -->

<app-propertiesinfo (demos)='demos()' [LOAN_KEY]="LOAN_KEY"  [CURRENT_STAGE_ID]="CURRENT_STAGE_ID" style="height: 100%;width: 100%;" [data]="propertyInfo" TYPE="C" [APPLICANT_ID]="APPLICANT_ID" [PROPOSAL_ID]="PROPOSAL_ID"></app-propertiesinfo>

<!-- <app-primesecurityinfo (demo)='demos()'  [LOAN_KEY]="LOAN_KEY" *ngIf="type==1" style="height: 100%;width: 100%;" TYPE="C"
    [APPLICANT_ID]="APPLICANT_ID" [data]="data" [PROPOSAL_ID]="PROPOSAL_ID"></app-primesecurityinfo> -->